<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cards Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        * {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #21252e;
}

.card {
  display: flex;
  position: fixed;
  width: 600px;
  height: 300px;
  transition: transform .3s ease-out;
  box-shadow: 0 0 2px 0 #000;
  border-radius: 8px;
}
@media (max-width: 700px) {
  .card {
    width: 80%;
  }
}
@media (max-height: 400px) {
  .card {
    height: 40%;
  }
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  color: #21252e;
  background-color: #ffa719;
}
@media (max-width: 700px) {
  .first {
    font-size: 1rem;
  }
}

.second {
  background-color: #e56660;
}

.third {
  background-color: #b94a53;
}

.fourth {
  background-color: #4b345e;
}

.fifth {
  background-color: #724e94;
}

    </style>
    <script src='main.js'></script>
</head>
<body>
    <div class="card first"><p>Scroll or press UP or DOWN</p><p>(does not work with touch yet)</p></div>
    <div class="card second" ></div>
    <div class="card third"></div>
    <div class="card fourth"></div>
    <div class="card fifth"></div>
</body>
{{script('./cards.js')}}
</html>