<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Cards Game</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      position: fixed;
      margin-top: 15px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      /* background-color: #21252e; */
      background-color: #bbbbbb;
    }

    

    #cardd{
      width: 70%;
      height: 100%;
      float: right;
      margin-left: 1em;
    }

    #board{
      width: 300%;
      max-width: 300px;
      height: 100%;
      float: left;
      vertical-align: middle;
      box-shadow: 0 0 2px 0 #000;
      border-radius: 8px;
      padding: 1em;
      font-size: 1.1em;
    }

    .card {
      display: flex;
      position: fixed;
      width: 600px;
      height: 300px;
      transition: transform .3s ease-out;
      box-shadow: 0 0 2px 0 #000;
      border-radius: 8px;
    }

    @media (max-width: 700px) {
      .card {
        width: 80%;
      }
    }

    @media (max-height: 400px) {
      .card {
        height: 40%;
      }
    }

    .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-family: sans-serif;
      color: #21252e;
      background-color: #ffa719;
    }

    @media (max-width: 700px) {
      .first {
        font-size: 1rem;
      }
    }

    .second {
      background-color: #e56660;
    }

    .third {
      background-color: #b94a53;
    }

    .fourth {
      background-color: #4b345e;
    }

    .fifth {
      background-color: #724e94;
    }
  </style>
</head>

<body>
  <div id="board">
    <br>
    <p>Câu 27 / 50</p>
    <p>Tổng điểm: <b>250</b></p>
    <p>Thời gian còn lại cho câu hỏi: <b>15</b>s</p>
    <p>Press key H for <b>Help</b> or N to <b>Next</b> question</p>
    <br>
  </div>
  <div id="cardd">
      <div class="card first">
          <p>Scroll or press UP or DOWN</p>
          <p>(does not work with touch yet)</p>
        </div>
        <div class="card second"></div>
        <div class="card third"></div>
        <div class="card fourth"></div>
        <div class="card fifth"></div>
        <div class="card first">
          <p>Scroll or press UP or DOWN</p>
          <p>(does not work with touch yet)</p>
        </div>
        <div class="card second"></div>
        <div class="card third"></div>
        <div class="card fourth"></div>
        <div class="card fifth"></div>
  </div>
</body>

<script src="/js/cards.js"></script>

</html>