<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Cards Game</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      position: fixed;
      margin-top: 15px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      /* background-color: #21252e; */
      background-color: #bbbbbb;
    }



    #cardd {
      width: 70%;
      height: 100%;
      float: right;
      margin-left: 1em;
    }

    #board {
      width: 300%;
      max-width: 300px;
      height: 100%;
      float: left;
      vertical-align: middle;
      box-shadow: 0 0 2px 0 #000;
      border-radius: 8px;
      padding: 1em;
      font-size: 1.1em;
    }

    #qImage {
      padding: 7px;
      padding-left: 15px;
      width: 334px;
      height: 254px;
      float: left;
    }

    img.resize {
      width: 80%;
      height: 80%;
      padding: 14 px;
      position: relative;
    }

    #dataMeta {
      width: 266px;
      height: 300px;
      text-align: left;
      padding-left: 2em;
      padding-top: 1em;
      vertical-align: top;
    }

    .card {
      display: flex;
      position: fixed;
      width: 600px;
      height: 300px;
      transition: transform .3s ease-out;
      box-shadow: 0 0 2px 0 #000;
      border-radius: 8px;
    }

    @media (max-width: 700px) {
      .card {
        width: 80%;
      }
    }

    @media (max-height: 400px) {
      .card {
        height: 40%;
      }
    }

    .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-family: sans-serif;
      color: #21252e;
      background-color: #ffa719;
    }

    @media (max-width: 700px) {
      .first {
        font-size: 1rem;
      }
    }

    .second {
      background-color: #8cb648;
    }

    .third {
      background-color: #eb7c3c;
    }

    .fourth {
      background-color: #5e3680;
      color: #dbdadb;
    }

    .fifth {
      background-color: #b31c28;
    }
    a{
      color:antiquewhite;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div id="board">
    <br>
    <p>Câu <b id="currentIndex"></b> / 50</p>
    <p>Tổng điểm: <b id="point">250</b></p>
    <p>Thời gian còn lại cho câu hỏi: <b id="timeRemaining">15</b>s</p>
    <p>Điểm còn lại cho câu hỏi: <b id="currentPoint">5</b></p>
    <p>Press key H for <b>Help</b> or N to <b>Next</b> question</p>
    <p>Description: {{description}}</p>
    <p hidden>Session id: <b id="session_id">{{session_id}}</b></p>
    <p hidden>User id: <b id="user_id">{{user_id}}</b></p>
    <p><button class="btn btn-danger" onclick="get_ten_cards()" id="btnStart">Start Game</button> </p>
    <br>
  </div>
  <div id="cardd">
  </div>
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
<script src="/js/cards.js"></script>

</html>